/* Required for Twitter Bootstrap's menu */
#main {
  padding-top: 60px;
}

@media (max-width: 980px) and (min-width: 768px) {
	body {
		padding-top: 0px;
	}
}

@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

footer {
  border-top: 1px solid #eee;
  padding: 20px;
  margin-top: 40px;

}

h1, h2, h3, h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 80px;  /* fix anchor problem? */
  margin-top: -80px;  /* fix anchor problem? */
}
h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-size:180%;
  line-height:1.2em;
  margin-top:20px;
  font-weight:bold;
}

h3 {
  font-size:140%;
  line-height:1.2em;
  margin-top:15px;
}

h4 {
  font-size:125%;
  line-height:1.2em;
}

#rightPanel ul {
  margin:0px;
  padding:0px;
}

#rightPanel li {
  margin:0px 0px 4px 20px;
  padding:0px;
}

#rightPanel h4 {
  margin:0px 0px 0px 0px;
  font-size:95%;
  font-weight:bold;
}

table {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
table td, table th {
	padding: 5px;
	color: #333;
}
table thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
table th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}
table td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
table td:hover {
	background-color: #fff;
}

