<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="F#, FSharp, F# Programming, F# Core Engineering" />
    <title>{{ page.title }}</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href='https://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' media="screen" />
    <link rel="stylesheet" href="/css/main.css" media="screen" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">F# Core Engineering</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="https://github.com/fsprojects">Incubation Zone</a></li>
                    <li><a href="http://fsharp.org">F# Software Foundation</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="main">
        <div class="row">
            <div class="col-md-2">
                <a href="/">
                    <img src="/img/fscomp-logo.png" id="logo" alt="F# core components." class="img-responsive" style="margin:50px 0px 0px 0px" />
                </a>

            </div>
            <div class="col-md-10">
                <div class="page-header">
                  <h1>The F# Core Engineering Activities</h1>

                </div>
            </div>
        </div>
        <div class="row">

          <div class="col-md-9">
            {{ content }}
          </div>
        </div>
    </div>

</body>
</html>
