<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="F#, FSharp, F# Programming, F# Open Engineering" />
    <title>{{ page.title }}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' media="screen" />
    <link rel="stylesheet" href="/css/main.css" media="screen" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">F# Open Engineering</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#Blog">Blog</a></li>
                    <li><a href="https://github.com/fsharp">Core Projects</a></li>
                    <li><a href="https://github.com/fsprojects">Incubation Zone</a></li>
                    <li><a href="http://fsharp.org">F# Foundation</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="main">
        <div class="row">
            <div class="col-md-3">
                <a href="/">
                    <img src="/img/logo.png" id="logo" alt="F#. Part of the program." class="img-responsive" style="margin:50px 0px 0px 0px" />
                </a>
            </div>
            <div class="col-md-9">
                <div class="page-header">
                  <h1>The F# Open Engineering Technical Group</h1>

                </div>
            </div>
        </div>
        <div class="row">

          <div class="col-md-8">
            {{ content }}
          </div>

          <div class="col-md-4" id="rightPanel">

            <h3>F# Compiler and Library</h3>
            <ul>
            <li><h4><a href="http://github.com/fsharp/fsharp">The Open Edition of F#</a></h4>
              F# compiler, core library and tools</li>
            <li><h4><a href="http://fsharp.github.io/FSharp.Compiler.Service">FSharp.Compiler.Service</a></h4>
              Hostable F# compiler component for editing and execution clients</li>
            </ul>

            <h3>F# Editing Tools</h3>
            <li><h4><a href="http://github.com/fsharp/fsharpbinding">F# Editor Bindings</a></h4>
              F# Language Bindings for Emacs, MonoDevelop, etc.</li>
            <li><h4><a href="http://fsprojects.github.io/VisualFSharpPowerTools">Visual F# Power Tools</a></h4>
              Refactoring and other commands for F# in Visual Studio</li>
            </ul>

            <h3>F# Libraries</h3>
            <ul>
            <li><h4><a href="http://fsharp.github.io/FSharp.Data">FSharp.Data</a></h4>
              F# Data: Library for Data Access</li>
            <li><h4><a href="http://fsharp.github.io/FSharp.Charting">FSharp.Charting</a></h4>
              Charting library suitable for interactive F# scripting</li>
            <li><h4><a href="http://fsharp.github.io/FAKE">FAKE</a></h4>
              F# Make - A DSL for build tasks</li>
            <li><h4><a href="http://github.com/fsharp/fscheck">FsCheck</a></h4>
              Random testing library for F# and .NET</li>
            </ul>

          </div>
        </div>
        <div class="container text-center">
            <footer>
                <p>Brought to you by <a href="http://fsharp.org">The F# Software Foundation</a>. Contributors
                can <a href="https://github.com/fsharp/fsharp.github.com/edit/master/index.html">edit</a> this page on github.</p>
            </footer>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35753329-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
